.container {
    display: flex;
    color: $color-black;

    @include mobile-tablet {
        flex-direction: column-reverse;
        gap: rem(20px);
    }

    @include tablet {
        align-items: center;
    }
}

.item {
    display: flex;
    flex-direction: column;

    @include mobile-tablet {
        gap: rem(20px);
    }

    @include mobileS {
        width: 72%;
    }

    @include tablet {
        width: 60%;
        margin-right: rem(60px);
        gap: rem(40px);
    }
}

.imageContainer {
    position: relative;

    @include mobileS {
        width: 260px;
        height: 320px;
    }

    @include mobileM {
        width: 320px;
        height: 360px;
    }

    @include mobileL {
        width: 340px;
        height: 380px;
    }

    @include tablet {
        width: 400px;
        height: 599px;
    }
}

.image {
    box-shadow: 0 0 15px 0px $color-very-dark;
}

.divider {
    @include tablet {
        position: absolute;
        top: rem(180px);
    }

    @include desktop {
        position: absolute;
        top: rem(220px);
    }
}
