@import "@/scss/global/variables";

.container {
    display: flex;
    align-items: center;
    gap: rem(100px);
}

.item {
    display: flex;
    flex-direction: column;
    gap: rem(50px);
    width: 50%;
}
