.reset {
  body,
  h1,
  h2,
  h3,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
    min-height: 100%;
    font-family: $font-family-montserrat;
  }

  a {
    text-decoration: none;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }

  img {
    min-height: 1px;
  }

  [placeholder],
  ::-webkit-input-placeholder, /* Chrome/Opera/Safari */
  ::-moz-placeholder,          /* Firefox 19+ */
  :-ms-input-placeholder,      /* IE 10+ */
  :-moz-placeholder {
    /* Firefox 18- */
    text-overflow: ellipsis;
  }
}

.headings {
  $headings: h1 h2 h3;
  $font-size-base: 16px;

  $font-size-upper: 60px;
  $font-size-dec: 14px;

  @each $heading in $headings {
    #{$heading} {
      font-size: ($font-size-upper / $font-size-base) + rem;
    }
    $font-size-upper: $font-size-upper - $font-size-dec;
  }
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
