.container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: rem(60px);
    height: rem(75px);

    @include until("desktop") {
        justify-content: space-around;
    }
}

.logo {
    font-family: initial;
    font-weight: $font-weight-bold;
    font-size: $font-size-40;
    color: $color-desaturated-red;
}
