.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: rem(1300px);
  gap: rem(30px);
  width: 73%;

  @include until("desktop") {
    height: rem(60px);
  }
}

.logo {
  font-family: initial;
  font-weight: $font-weight-bold;
  font-size: $font-size-40;
  color: $color-desaturated-red;
}
