.btn {
  width: 100%;
  background-color: inherit;
  border: 1px solid $color-desaturated-red;
  border-radius: rem(2px);
  letter-spacing: rem(2px);
  text-transform: uppercase;

  @include text-button;

  &:hover {
    cursor: pointer;
    background-color: $color-desaturated-red;
    color: $color-white-smoke;
  }
}

.default {
  max-width: rem(155px);
  padding: rem(16px) rem(24px);
}

.small {
  max-width: rem(80px);
  padding: rem(8px) rem(4px);
}

.large {
  max-width: rem(220px);
  padding: rem(8px) rem(4px);
}
