@import "@/scss/global/variables";

.container {
    display: flex;
    align-items: center;
    gap: rem(50px);
    width: 100%;
}

.logo {
    font-family: initial;
    font-weight: $font-weight-bold;
    font-size: $font-size-40;
    color: $color-desaturated-red;
}

.links {
    display: flex;
    align-items: center;
    gap: rem(20px);

    @include text-navbar-links;

    .link:hover {
        color: $color-desaturated-red;
    }
}

.active {
    color: $color-desaturated-red;
}

.footer_container {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 2;
}

.footer_links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: rem(20px);
    font-size: $font-size-14;

    .footer_link:hover {
        color: $color-desaturated-red;
    }
}
