.container {
    display: flex;
    color: $color-black;

    @include mobile-tablet {
        gap: rem(20px);
        flex-direction: column-reverse;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.bio {
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    text-align: justify;
}

.slider {
    box-shadow: 0 0 15px 0px #180701;

    @include mobile-tablet {
        $mobile-size-width: rem(220px);
        $mobile-size-height: rem(300px);

        max-width: $mobile-size-width;
        max-height: $mobile-size-height;

        & img {
            width: $mobile-size-width;
            height: $mobile-size-height;
        }
    }

    @include tablet {
        $tablet-size-width: rem(400px);
        $tablet-size-height: rem(599px);

        max-width: $tablet-size-width;
        max-height: $tablet-size-height;
        margin-left: rem(60px);

        & img {
            width: $tablet-size-width;
            height: $tablet-size-height;
        }
    }
}

.link {
    text-decoration: underline;
    color: $color-desaturated-red;

    &:hover {
        color: $color-black;
    }
}
