@import "../../global/colors.scss";
@import "../../global/functions.scss";
@import "../../global//typography.scss";
@import "../../global//responsive.scss";

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 10px solid red;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    opacity: 0.6;
    cursor: pointer;
}

.links {
    background-color: red;
}
