@import "../../global/colors.scss";
@import "../../global/functions.scss";
@import "../../global//typography.scss";
@import "../../global//responsive.scss";

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.text {
    font-size: $font-size-14;
    color: $color-footer-copyright;
}
