.container {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
}

.logo {
  font-family: initial;
  font-weight: $font-weight-bold;
  font-size: $font-size-36;
  color: $color-desaturated-red;
}

.links {
  display: flex;
  align-items: center;
  @include text-navbar-links;
  font-size: $font-size-16;
}

.link {
  &:hover {
    color: $color-desaturated-red;
    transition: color 0.25s ease-in-out 0s;
    will-change: color;
  }
}

.active {
  color: $color-desaturated-red;
}
