.container {
    display: flex;
    flex-direction: column;

    @include tablet {
        gap: rem(20px);
    }
}

.title,
.subtitle {
    font-family: var(--font-fraunces);
}

.subtitle {
    font-weight: $font-weight-semi-bold;
}

.text {
    color: $color-grayish-blue;
    line-height: $line-height-26;
}
