@import "../../global/colors.scss";
@import "../../global/functions.scss";
@import "../../global//typography.scss";
@import "../../global//responsive.scss";

.container {
    height: rem(100px);
    display: flex;
    align-items: center;
}

.logout {
    padding: rem(6px);
    border: none;
    background-color: #53c28b;
    color: $color-white;
    cursor: pointer;
    border-radius: rem(4px);
}
