.container {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  max-width: fit-content;
  padding-bottom: rem(100px);

  & > :first-child {
    width: rem(190px);
    height: rem(90px);
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: rem(10px);
  font-family: var(--font-rheinmetall);
  max-width: fit-content;
}

.title {
  display: inline-block;
  max-width: fit-content;
}

.text {
  text-align: justify;
  max-width: rem(1000px);
}
