$breakpoints: (
    "mobileS": rem(320px),
    "mobileM": rem(375px),
    "mobileL": rem(425px),
    "tablet": rem(768px),
    "desktop": rem(1024px),
    "widescreen": rem(1440px),
    "fullhd": rem(1820px),
);

@mixin respond-to($from, $to: null) {
    $min: map-get($breakpoints, $from);
    $max: if($to, map-get($breakpoints, $to) - rem(1px), null);

    @if $max {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else {
        @media (min-width: $min) {
            @content;
        }
    }
}

@mixin mobileS {
    @include respond-to("mobileS") {
        @content;
    }
}
@mixin mobileM {
    @include respond-to("mobileM") {
        @content;
    }
}
@mixin mobileL {
    @include respond-to("mobileL") {
        @content;
    }
}

@mixin tablet {
    @include respond-to("tablet") {
        @content;
    }
}

@mixin desktop {
    @include respond-to("desktop") {
        @content;
    }
}

@mixin widescreen {
    @include respond-to("widescreen") {
        @content;
    }
}

@mixin fullhd {
    @include respond-to("fullhd") {
        @content;
    }
}

@mixin mobile-only {
    @include respond-to("mobileS", "tablet") {
        @content;
    }
}

@mixin tablet-only {
    @include respond-to("tablet", "desktop") {
        @content;
    }
}

@mixin desktop-only {
    @include respond-to("desktop", "widescreen") {
        @content;
    }
}

@mixin widescreen-only {
    @include respond-to("widescreen", "fullhd") {
        @content;
    }
}

@mixin touch {
    @include respond-to("mobileS", "desktop") {
        @content;
    }
}

@mixin until($to) {
    @include respond-to("mobileS", $to) {
        @content;
    }
}
