.container {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  max-width: fit-content;

  & > :first-child {
    height: rem(90px);
  }
}

.item {
  display: flex;
  gap: rem(30px);
  max-width: rem(900px);
}

.description {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  max-width: fit-content;
}
