.container {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  max-width: fit-content;
}

.item {
  display: flex;
  gap: rem(30px);
  max-width: rem(900px);
  margin-bottom: rem(100px);
}

.description {
  display: flex;
  flex-direction: column;
  gap: rem(40px);
  max-width: fit-content;
}

.link {
  text-decoration: underline;
}
