.container {
  width: 100%;
  max-width: rem(260px);
  text-align: center;
  padding: rem(16px) rem(24px);
  background-color: inherit;
  border: 1px solid $color-desaturated-red;
  border-radius: rem(2px);
  letter-spacing: rem(2px);
  text-transform: uppercase;

  @include text-button;

  &:hover {
    cursor: pointer;
    background-color: $color-desaturated-red;
    color: $color-white-smoke;
  }
}
